{% extends 'baseview.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/medications_list.css' %}">

<h2 class="medications-title">Medications List</h2>

<form method="GET" action="{% url 'filter_medications' %}" class="filter-form">
  <label for="min_price">Min Price:</label>
  <input type="number" name="min_price" id="min_price" class="form-input">

  <label for="max_price">Max Price:</label>
  <input type="number" name="max_price" id="max_price" class="form-input">

  <button type="submit" class="form-button">Filter</button>
</form>
  
  <div class="medications-grid">
    {% for medication in medications %}
      <div class="medication-item">
        <h3>
          <a href="{% url 'medication_detail' medication.id %}">{{ medication.name }}</a>
        </h3>
        <img src="{{ medication.photo.url }}" alt="{{ medication.name }}" class="medication-image">
      </div>
    {% endfor %}
  </div>
{% endblock %}
