
<div>
    <form action="http://server.com" method="post"</form>
        <input type="text" placeholder="Enter your name" required><br>
        <input type="password" minlength="10"><br>
        <input type="checkbox" name="vehicle"
            value="Bike"> I have a bike<br>
        <input type="checkbox" name="vehicle"
            value="Car"> I have a car<br><br>
        <input type="radio" name="gender" value="male">
            Male<br>
        <input type="radio" name="gender" value="female">
            Female<br>
        <input type="image" name="img" src="btn.gif" width="200">
        <input type="file" name="fileinput">
        <br><br>
        <textarea name="desc" cols="45" rows="10"
             placeholder="Input description"
             required maxlength="450"></textarea>
        <p>
            Fruit: <input list="fruitlist" id="fave" name="fave" />
        </p>
        <button type="button" name="btn">
            <p>Paragraph 1</p>
            <p>Paragraph 2</p>
        </button>
        <fieldset title="Login info">
            <legend>User info</legend>
            User: <input type="text" name="usr"><br>
            Pass: <input type="password" name="pass">
            <br>
            <input type="submit" value="Login">
        </fieldset>
    </form>
</div>