<!-- view_medications.html -->

{% extends 'baseview.html' %}

{% block content %}
  <form method="GET" action="{% url 'filter_medications' %}">
    <label for="min_price">Min Price:</label>
    <input type="number" name="min_price" id="min_price">

    <label for="max_price">Max Price:</label>
    <input type="number" name="max_price" id="max_price">

    <button type="submit">Filter</button>
  </form>
  <h2>Medications List</h2>
  <ul>
    {% for medication in medications %}
      <li>
        <h3>
          <a href="{% url 'medication_detail' medication.id %}">{{ medication.name }}</a>
        </h3>
        <img src="{{ medication.photo.url }}" alt="{{ medication.name }}" style="max-width: 200px; max-height: 200px;">

      </li>
    {% endfor %}
  </ul>
{% endblock %}
